:root {
    --white: #FFFFFF;
    --silver-chalice: #B0B0B0;
    --gray-suit: #C8C5D1;
    --mine-shaft: #333333;
    --purpule: #9873FF;
    --melrose: #B89EFF;
    --electric-violet: #8052FF;
    --red: #F06A4D;
    --mischka: #E7E5EB;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansBold.woff2") format("woff2"),
    url("../fonts/OpenSansBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@media (min-width: 1025px) {
    .client__contact-link:hover:not(.focus-visible) {
        opacity: 1;
    }

    .client__change-btn:hover:not(.focus-visible) {
        color: var(--purpule);
    }

    .client__delete-btn:hover:not(.focus-visible) {
        color: var(--red);
    }

    .add-client-btn:hover:not(.focus-visible),
    .accept-btn:hover:not(.focus-visible):not(:disabled) {
        background-color: var(--melrose);
        color: var(--white)
    }

    .add-contact-btn:hover:not(.focus-visible) .add-contact-btn__text {
        color: var(--purpule);
    }

    .add-contact-btn:hover:not(.focus-visible) .add-contact-btn__text::before {
        background-image: url('../img/add-contact-focus.svg')
    }

    .choices__list--dropdown
    .choices__item.choices__item--selectable:hover {
        background-color: var(--mischka);
    }

    .contact__delete-btn:hover:not(.focus-visible) {
        border-color: var(--red);
    }

    .contact__delete-btn:hover:not(.focus-visible) .contact__svg-delete {
        fill: var(--red);
    }
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.body {
    min-width: 320px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 400;
    background-color: #F5F5F5;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.btn-reset {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.link {
    display: inline-block;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.header {
    margin-bottom: 40px;
    background-color: var(--white);
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
                0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo-link {
    margin-right: 53px;
    font-size: 0;
}

.search {
    max-width: 581px;
    width: 100%;
}

.search__input {
    padding: 0 16px;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
    color: var(--mine-shaft);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.search__input::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: var(--silver-chalice);
}

.hero {
    padding-bottom: 50px;
}

.title {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.table {
    text-align: left;
    margin-bottom: 40px;
    border-collapse: collapse;
    width: 100%;
}

.table__head-cell {
    vertical-align: bottom;
    padding: 8px 0;
    padding-right: 10px;
    cursor: default;
}

.table__head-text {
    color: var(--silver-chalice);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.table__id .table__head-text,
.table__name .table__head-text,
.table__creation-date .table__head-text,
.table__last-change .table__head-text {
    position: relative;
    padding-right: 10px;
    cursor: pointer;
}

.table__id .table__head-text::before,
.table__name .table__head-text::before,
.table__creation-date .table__head-text::before,
.table__last-change .table__head-text::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    transform: translateY(-45%) rotate(180deg);
    background-image: url('../img/arrow.svg');
}

.table__name .table__head-text {
    padding-right: 29px;
}

.table__name .table__head-text::before {
    right: 20px;
}

.table__name .table__head-text::after {
    content: "А-Я";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: var(--purpule);
}

.table__id .table__head-text.table__head-text--up-arrow::before,
.table__name .table__head-text.table__head-text--up-arrow::before,
.table__creation-date .table__head-text.table__head-text--up-arrow::before,
.table__last-change .table__head-text.table__head-text--up-arrow::before {
    transform: translateY(-45%) rotate(0);
}

.client {
    border-bottom: 1px solid rgba(200, 197, 209, 0.5);
    background-color: var(--white);
}

.table__client-cell {
    padding: 10px 0;
    padding-right: 10px;
    height: 60px;
    font-size: 0;
}

.table__cell-error {
    text-align: center;
    padding: 10px;
    height: 60px;
    color: #F06A4D;
    font-size: 14px;
    line-height: 19px;

}

.table__head-cell:first-child,
.table__client-cell:first-child  {
    padding-left: 20px;
}

.table__head-cell:last-child,
.table__client-cell:last-child {
    padding-right: 20px;
}

.client__id {
    color: var(--silver-chalice);
    font-size: 12px;
    line-height: 16px;
}

.client__name {
    color: var(--mine-shaft);
    font-size: 14px;
    line-height: 19px;
}

.client__creation,
.client__change {
    font-size: 0;
}

.client__creation-date,
.client__change-date,
.client__creation-time,
.client__change-time {
    font-size: 14px;
}

.client__creation-date,
.client__change-date {
    margin-right: 7px;
}

.client__creation-time,
.client__change-time {
    color: var(--silver-chalice)
}

.client__contacts-list {
    padding: 0;
    width: 117px;
    list-style: none;
}

.client__contact {
    display: inline-block;
    margin-right: 7px;

}

.client__contact:nth-child(5n) {
    margin-right: 0;
}

.client__contact:nth-child(n+6) {
    margin-top: 7px;
}

.client__contact-link {
    width: 16px;
    height: 16px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.client__contact-link.focus-visible {
    opacity: 1;
}

.client__contact-link--vk {
    background-image: url(../img/vk-icon.svg);
}

.client__contact-link--fb {
    background-image: url(../img/fb-icon.svg);
}

.client__contact-link--phone {
    background-image: url(../img/phone-icon.svg);
}

.client__contact-link--mail      {
    background-image: url(../img/mail-icon.svg);
}

.client__contact-link--other {
    background-image: url(../img/other-icon.svg);
}

.client__creation-time,
.client__change-time {
    color: var(--silver-chalice)
}

.tippy-box[data-theme~='mine-shaft'] {
    border-radius: 0;
    background-color: var(--mine-shaft);
    color: var(--white);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.tippy-box[data-theme~='mine-shaft'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--mine-shaft);
}

.tippy-box[data-theme~='mine-shaft'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--mine-shaft);
}

.tippy-box[data-theme~='mine-shaft'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--mine-shaft);
}

.tippy-box[data-theme~='mine-shaft'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--mine-shaft);
}

.tippy-content {
    padding: 7px 12px;
}

.tooltip__type-text {
    font-weight: 400;
}

.tooltip__link {
    color: var(--white)
}

.client__actions {
    width: 217px;
}

.client__change-btn,
.client__delete-btn {
    position: relative;
    padding-left: 15px;
    color: var(--mine-shaft);
    font-size: 14px;
    line-height: 19px;
    transition: color 0.3s ease-in-out;
}

.client__change-btn {
    margin-right: 32px;
}

.client__change-btn.focus-visible {
    color: var(--purpule);
}

.client__delete-btn.focus-visible {
    color: var(--red);
}

.client__change-btn::before,
.client__delete-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    opacity: 0.7;
    font-size: 0;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.client__change-btn::before {
    height: 13px;
    background-image: url('../img/change-icon.svg');
}

.client__delete-btn::before {
    background-image: url('../img/delete-icon.svg');
}

.add-client-btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 12.5px 26.5px;
    border: 1px solid var(--purpule);
    color: var(--purpule);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-client-btn__svg {
    margin-right: 10px;
    fill: currentColor;
}

.add-client-btn.focus-visible,
.accept-btn.focus-visible {
    background-color: var(--melrose);
    color: var(--white)
}

.add-client-btn:active:not(.focus-visible),
.accept-btn:active:not(.focus-visible):not(:disabled) {
    background-color: var(--electric-violet);
    color: var(--white)
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.6);
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.modal.is-open-modal {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    position: relative;
    vertical-align: middle;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 450px;
    padding: 24px 0;
    background-color: var(--white);
    cursor: default;
    opacity: 0;
	transform: scale(0);
}

.modal-open {
    display: inline-flex;
}

.animate-open {
	opacity: 1;
	transform: scale(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 29px;
    height: 29px;
    color: var(--gray-suit);
    font-size: 0;
}

.modal-form {
    display: none;
    flex-direction: column;
    width: 100%;
}

.modal-form.show {
    display: flex;
}

.modal-form__inputs-wrap {
    padding: 0 30px;
}

.modal-form__title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.modal-form__title,
.modal-delete__title {
    margin: 0;
    margin-right: 9px;
    color: var(--mine-shaft);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.modal-form__client-id {
    color: var(--silver-chalice);
    font-size: 12px;
    line-height: 16px;
    transform: translateY(2px);
}

.modal-form__input-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.modal-form__input-wrap:last-child {
    margin-bottom: 25px;
}

.modal-form__input {
    padding: 0;
    padding-bottom: 4px;
    border: none;
    border-bottom: 1px solid rgba(200, 197, 209, 0.5);
    border-radius: 0;
    width: 100%;
    outline: none;
    appearance: none;
    color: var(--mine-shaft);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.modal-form__placeholder {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    color: var(--silver-chalice);
    font-size: 14px;
    line-height: 19px;
    transition-property: top, font-size;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}

.modal-form__placeholder-star {
    color: var(--purpule);
}

.modal-form__placeholder--small {
    top: -17px;
    font-size: 10px
}

.modal-form__input.focus-visible + .modal-form__placeholder {
    top: -17px;
    font-size: 10px;
}

.modal-form__lable-text-star {
    color: var(--purpule);
}

.modal-form__input--error {
    border-bottom: 1px solid rgba(240, 106, 77, 0.5);
}

.modal-form__add-contacts {
    padding: 8px 30px;
    background-color: rgba(200, 197, 209, 0.3);
    transition: padding 0.3s ease-in-out;
}

.modal-form__add-contacts--large-padding {
    padding: 25px 30px;
}

.modal-form__contacts-container.modal-form__contacts-container--margin-bottom {
    margin-bottom: 25px;
}

.contact {
    position: relative;
    display: flex;
    margin: 0;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.contact.contact--z-index {
    z-index: 1;
}

.contact.animate-add {
    margin-bottom: 15px;
    transform: scaleY(1);
}

.contact:last-child {
    margin-bottom: 0px;
}

.choices {
    margin: 0;
    max-width: 123px;
    width: 100%;
}

.choices[data-type*=select-one]::after {
    margin: 0;
    border: none;
    width: 10px;
    height: 6px;
    background-image: url('../img/select-arrow.svg');
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}

.choices[data-type*=select-one].is-open::after {
    margin: 0;
    border: none;
    transform: rotate(-180deg) translateY(50%);
}

.choices__inner {
    border-radius: 0;
    border: 1px solid var(--gray-suit);
    min-height: auto;
    color: var(--mine-shaft);
    font-size: 12px;
    line-height: 16px;
    background-color: var(--mischka);
}

.is-open .choices__inner,
.is-focused .choices__inner {
    border-radius: 0;
    border-color: var(--gray-suit);
}

.choices[data-type*=select-one] .choices__inner {
    padding: 10px;
    padding-left: 12px;
}

.choices__list--single {
    text-align: left;
    padding: 0;
    padding-right: 16px;
}

.choices__placeholder {
    opacity: 1;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border: 1px solid var(--gray-suit);
    border-radius: 0;
    background-color: #F4F3F6;
}

.choices__list--dropdown
.choices__item.choices__item--selectable {
    text-align: left;
    padding: 9px 12px;
    transition: background-color 0.3s ease-in-out;
    font-size: 12px;
    line-height: 16px;
}

.choices__list--dropdown
.choices__item.choices__item--selectable:last-child {
    margin: 0;
}

.choices__item.is-selected {
    display: none;
}

.contact__input {
    padding: 8px 12px;
    width: 100%;
    border: none;
    border: 1px solid var(--gray-suit);
    border-left-width: 0;
    border-radius: 0;
    outline: none;
    color: var(--mine-shaft);
    font-size: 14px;
    line-height: 19px;
}

.contact__input::placeholder {
    color: var(--silver-chalice);
    font-size: 14px;
    line-height: 19px;
}

.contact__delete-btn {
    position: relative;
    left: -1px;
    padding: 7px;
    border: 1px solid var(--gray-suit);
    background-color: var(--mischka);
    transition: border-color 0.3s ease-in-out;
}

.contact__svg-delete {
    fill: var(--silver-chalice);
    transition: fill 0.3s ease-in-out;
}

.contact__delete-btn.focus-visible {
    border-color: var(--red)
}

.contact__delete-btn-btn.focus-visible .contact__svg-delete {
    fill: var(--red);
}

.add-contact-btn {
    margin: 0 auto;
}

.add-contact-btn.hide {
    display: none;
}

.add-contact-btn__text {
    position: relative;
    padding-left: 19px;
    color: var(--mine-shaft);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    transition: color 0.3s ease-in-out;
}

.add-contact-btn__text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url('../img/add-contact.svg');
    transform: translateY(-50%);
    transition: background-image 0.3s ease-in-out;
}

.add-contact-btn.focus-visible .add-contact-btn__text {
    color: var(--purpule);
}

.add-contact-btn.focus-visible .add-contact-btn__text::before {
    background-image: url('../img/add-contact-focus.svg')
}

.modal-form__errors-box {
    display: flex;
    flex-direction: column;
    padding: 8px 30px;
    min-height: 25px;
    color: var(--red);
    font-size: 10px;
    line-height: 14px;
}

.accept-btn {
    position: relative;
    align-self: center;
    margin-bottom: 5px;
    padding: 12.5px 35px;
    background-color: var(--purpule);
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    transition: background-color 0.3s ease-in-out;
}

.accept-btn:disabled {
    background-color: var(--electric-violet)
}

.accept-btn::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 17px;
    width: 12px;
    height: 12px;
    background-image: url('../img/loading.svg');
    opacity: 0;
    visibility: hidden;
    animation: load 1s linear infinite;
    transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.accept-btn--load::before {
    opacity: 1;
    visibility: visible;
}

.cansel-btn,
.delete-btn {
    align-self: center;
    color: var(--mine-shaft);
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
}

.modal-delete__title {
    margin: 0;
    margin-bottom: 11px;
}

.modal-delete__question {
    align-self: center;
    margin: 0;
    max-width: 275px;
    color: var(--mine-shaft);
    font-size: 14px;
    line-height: 19px;
}
