:root {
    --background-white: #FFFFFF;
    --text-grey: #B0B0B0;
    --text-black: #333333;
    --purpule: #9873FF;

}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansBold.woff2") format("woff2"),
    url("../fonts/OpenSansBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.body {
    min-width: 320px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 400;
    background-color: #F5F5F5;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 90px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    margin-bottom: 40px;
    background-color: var(--background-white);
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
                0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo-link {
    margin-right: 53px;
    font-size: 0;
}

.search {
    max-width: 581px;
    width: 100%;
}

.search__input {
    padding: 0 16px;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
    color: var(--text-black);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.search__input::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: var(--text-grey);
}

.title {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.table {
    width: 100%;
}

.table__head-text {
    font-size: 12px;
    line-height: 16px;
    color: var(--text-grey);
}

.table__id .table__head-text,
.table__full-name .table__head-text,
.table__create-date .table__head-text,
.table__last-changes .table__head-text {
    position: relative;
    padding-right: 10px;
    cursor: pointer;
}

.table__id .table__head-text::before,
.table__full-name .table__head-text::before,
.table__create-date .table__head-text::before,
.table__last-changes .table__head-text::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    transform: translateY(-45%) rotate(180deg);
    background-image: url('../img/arrow.svg');
}

.table__full-name .table__head-text::after {
    content: "А-Я";
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: var(--purpule);
}
